[Unit]
Description= Take a photo each half hour

[Timer]
Persistent=true
OnBootSec=1min
#OnCalendar=30m
OnUnitActiveSec=30m
Unit=takepix.service

[Install]
WantedBy=timers.target
